.mynavbar {
    height: 90px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.8);
    .container {
      height: 100%;
      div {
          height: 100%;
      }
      .navbar-header a {
        margin-top: 25px;
        margin-left: 10px;
      }
      #navbar {
        float: right;
        margin-top: 25px;
        font-size: 15px;

        .navbar-nav  a{
          color: white;
          &:hover {
            background: none;
            color: #FF0303;
          }
        }
        .dropdown {
          display: none;
        }

      }

  
    }
  @media (min-width : 1200px) {
    .container {
      max-width: 1150px;
      width: 85%;
    }
  }
}