#infos {
  .info-section {
    .title {
      &:after {
        content: url("/assets/images/person.png");
      }
      margin-bottom: 50px;
    }
      .perso-content {
        .perso-photo {
          height: 260px;
          width: 260px;
          border-radius: 50%;
          background: url("/assets/images/sun.jpg");
          border : 3px solid #EEEEEE;
          margin: auto;
          &:hover {
            border : 3px solid #00AC7F;
          }
          & + div {
            margin: auto;
            width: 260px;
            text-align: center;
            margin-top: 20px;
            .name {
              font-weight: bold;
              font-size: 30px;
              margin-right: 20px;
            }
            .age {
              font-size: 16px;
              display: inline-block;
              transform: translate(0px, -4px);
              span {
                margin-left: 3px;
              }
            }
          }
        }
        .perso-right {
          width: 80%;
          .resume {
            & + div {
              display: inline-block;
            }

          }
          .address {
            display: inline-block;
          }
          .cv-pdf {
            font-weight: bold;
            span {
              margin-left: 4px;
            }
          }
        }
      }
    }

}
