<div class="container row">
    <h1 class="title">{{"education" | translate }}</h1>
    <div class="educations">
        <table>
            <tr>
                <td>
                    <div>
                        {{"education.education1.from" | translate}} - {{"education.education1.to" | translate }}
                    </div>
                </td>
                <td>
                    <div>
                        <div>
                            <a class="school" href="{{'education.education1.school.link' | translate}}" target="_blank">{{"education.education1.school" | translate}}</a>
                        </div>
                        <div><span>{{'education.education1.diplome' | translate}}</span>, <span>{{'education.education1.major' | translate}}</span></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        {{"education.education2.from" | translate}} - {{"education.education2.to" | translate }}
                    </div>
                </td>
                <td>
                    <div>
                        <div>
                            <a class="school" href="{{'education.education2.school.link' | translate}}" target="_blank">{{"education.education2.school" | translate}}</a>
                        </div>
                        <div><span>{{'education.education2.diplome' | translate}}</span>, <span>{{'education.education2.major' | translate}}</span></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        {{"education.education3.from" | translate}} - {{"education.education3.to" | translate }}
                    </div>
                </td>
                <td>
                    <div>
                        <div>
                            <a class="school" href="{{'education.education3.school.link' | translate}}" target="_blank">{{"education.education3.school" | translate}}</a>
                        </div>
                        <div><span>{{'education.education3.diplome' | translate}}</span>, <span>{{'education.education3.major' | translate}}</span></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>