<section id="flexslider-carsousel" ng-include="'views/flexslider.html'" ng-controller="FlexsliderCtrl" ng-init="init()">
</section>
<section id="infos" ng-include="'views/infos.html'" class=" tb-45" ng-controller="InfosCtrl" ng-init="init()" />
<section id="experiences" ng-include="'views/experiences.html'" class="tb-45" ng-controller="ExperiencesCtrl" ng-init="init()" />
<section id="education" ng-include="'views/education.html'" class = "tb-45" ng-controller="EducationCtrl" ng-init="init()" />
<section id="competences" ng-include="'views/competences.html'" class = "tb-45" ng-controller="CompetencesCtrl" ng-init="init()" />